{% extends 'base.html' %}
{% block content %}
<h3 style="center">{{ game.home_team }} VS {{ game.away_team }}</h3>
    <table border="1" class="table table-striped">
        <tbody>
        <tr>
            <td>Home Team</td>
            <td>{{ game.home_team }}</td>
        </tr>
        <tr>
            <td>Away Team</td>
            <td>{{ game.away_team }}</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>{{ game.location }}</td>
        </tr>
        <tr>
            <td>Kickoff</td>
            <td>{{ game.kickoff_string }}</td>
        </tr>
        </tbody>
    </table>
        {% if form.initial %}
        {% include 'prediction_disabled.html' %}
        {% else %}
        {% include 'prediction_form.html' %}

        {% endif %}
{% endblock %}
