<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'teams_list' %}">CFB Picker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'teams_list' %}">Teams</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logout_view' %}" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
        {% if user.username %}
            Welcome {{ user.username }}
        {% endif %}
    </div>
</nav>
{% if messages %}
{% for message in messages %}
{% if message.level >= 30 %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% elif message.level == 25 %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>
{% else %}
<div class="alert alert-info" role="alert">
    {{ message }}
</div>
{% endif %}

{% endfor %}
{% endif %}