{% extends 'base.html' %}
{% block content %}
<ul class="list-group list-group-flush">
    {% for team in teams %}
    <li class="list-group-item"><strong>{{ team.name }}</strong></li>
    <div class="list-group">
        {% for game in team.games %}
        {% if team == game.home_team %}
        <a href="{% url 'game_detail' game.id %}" class="list-group-item-flush list-group-item-action"> VS {{ game.away_team }} on {{ game.kickoff|date:"M/d" }}</a>
        {% endif %}
        {% if team == game.away_team %}
        <a href="{% url 'game_detail' game.id %}" class="list-group-item-flush list-group-item-action"> At {{ game.home_team }} on {{ game.kickoff|date:"M/d" }}</a>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</ul>
{% endblock %}